body {
    width: 100%;
    height: 100vh;
    margin: 0;

    background-image: url(coffee.jpg);
    background-size: 140%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

p {
    font-size: 13px;
    font-style: italic;
}

header {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 460px;

    margin: 20px auto;
    padding-bottom: 10px;

    background-color: white;

    color: rgb(43, 18, 6);
}

label {
    display: block;
    padding: 20px;
    align-items: center;
}

.choice {
    padding: 5px;
    font-size: 13px;
    font-weight: lighter;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    max-width: 450px;    
    min-height: 2em;

    font-family: inherit;
    line-height: inherit;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    width: unset;
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin: 0 0.5em 0 0;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

input::placeholder,
textarea::placeholder,
select::placeholder,
option {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(96, 88, 83);
}

#submit {
    display: block;
    width: 25%;
    margin: 20px auto;
    padding: 0.75rem;

    background: rgb(57, 33, 17);
    border-radius: 5px;
    border-color: black;

    font-family: inherit;
    font-size: 30px;
    color: white;
    cursor: pointer;
}